#userprofiletabs {
    width: 95%!important;
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    background: var(--color-secondary);
    border-radius: var(--border-radius);
    padding: 0.5rem;
    overflow: hidden;
}

#tabcontentcontainer > input:checked + label {
    background: var(--color-info);
    color: var(--font-color-heading);
    border-bottom: 0;
}

#userprofiletabs > label {
    padding: 0.5rem!important;
    border-radius: var(--border-radius);
    background-color: var(--color-primary);
    transition: background-color var(--transition);
}

#userprofiletabs > label:hover {
    border-radius: var(--border-radius);
    background-color: var(--color-info-light);
}

#userprofiletabs > div {
    border: 0!important;
}

#adaptable_profile_tree {
    width: 100%;
    border: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#adaptable_profile_tree > :first-child * {
    margin: 0;
    padding: 0;
}

#adaptable_profile_tree > :first-child section {
    padding: 0.5rem!important;
    height: fit-content;
}

#adaptable_profile_tree > :first-child section > ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5rem;
}

#adaptable_profile_tree > :first-child section > ul > li {
    height: 100%!important;
}

/*  No need to display a button that allows you
to message your self */
#adaptable-message-user-button {
    display: none;
}

#adaptable_profile_tree .col-md-4 { 
    max-width: 32%!important;
}

#adaptable_profile_tree > :first-child,
#adaptable_profile_tree > :last-child {
    width: 90%!important;
    height: fit-content!important;
    margin: 0;
    padding: 0.5rem;
    list-style: none;
    border: 0;
    background: var(--color-secondary);
    border-radius: var(--border-radius);
    padding: 0.5rem;
    overflow: hidden;
    width: auto;
}

/* Sizeing */
.userprofile {
    width: auto!important;
    height: auto!important;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#adaptable_profile_tree > div {
    margin: 0!important;
    padding: 0!important;
}

#adaptable_profile_tree > :first-child {
    height: 100%;
}

#adaptable_profile_tree .col-12 {
    max-width: none!important;
    flex: none;
}

#adaptable_profile_tree section,
#adaptable_profile_tree .row {
    margin: 0!important
}


/* 
    Profile picture
*/
#adaptable_profile_tree .ucol1 .adaptableuserpicture {
    padding: 0!important;
}


#adaptable_profile_tree .ucol1 .adaptableuserpicture a {
    width: 50%;
    height: auto;
    position: relative!important;
    top: 0!important;
}

#adaptable_profile_tree img {
    width: 100%;
    height: auto;
    position: relative!important;
    top: 0!important;
}

.userimage {
    width: 100%;
    height: auto;
    position: relative!important;
    top: 0!important;
}



/*
    About me
    Courses
    More
    Edit profile
*/

#userprofiletabs dt {
    color: var(--font-color-heading)!important; 
    font-size: var(--font-size-heading)!important;
}

#userprofiletabs > div {
    padding: 1rem!important;
}

#userprofiletabs > div > div > div {
    padding: 0!important;
}